play-framework-objectify/
.metadata/
.classpath/
.project
.classpath
eclipse/
test-result/
tmp/
backlog/precompiled/
backlog/.settings/
easyagile-war/
backlog/.scala_dependencies
backlog/modules/objectify-1.0.4/
backlog/modules/objectify-1.0.4
