<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Backlog</title>
		<link type="text/css" href="@{'/public/stylesheets/main.css'}" rel="stylesheet" />
		<link type="text/css" href="@{'/public/stylesheets/ui-lightness/jquery-ui-1.8.11.custom.css'}" rel="stylesheet" />	
		<script type="text/javascript" src="@{'/public/javascripts/jquery-1.6.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/jquery-ui-1.8.11.custom.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/underscore.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/backbone.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/modelBB.js'}"></script>
		<script type="text/javascript">
		
			//function to get url variables
			$.extend({
				getUrlVars: function(){
				    var vars = [], hash;
				    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
				    for(var i = 0; i < hashes.length; i++)
				    {
				      hash = hashes[i].split('=');
				      vars.push(hash[0]);
				      vars[hash[0]] = hash[1];
				    }
				    return vars;
				  },
				  getUrlVar: function(name){
				    return $.getUrlVars()[name];
				  }
				});
			
			(function () {
				
				/*
				
				Arguments: 
					backlogBoard([stories])  
							stories 	-> Array of objects [{name:string, description:string, id:integer, points:integer, tasks:[tasks]}]
							tasks		-> Array of objects [{name:string, description:string, id:integer, points:integer}]
					
					backlogBoard(url, options)
					        url: String -> The get stories url,
					        options: Object {
					        	saveSessionUrl: String -> This is required to persist the data. A json='stories' will be sent via POST
					        	tasksUrl: String -> The url to retrieve tasks. If null assumes the story url retrieved everything,
					        	usersUrl: String -> The url to retrieve users. If null shows the no user available,
					        }
					        
		        */
				$.fn.backlogBoard = function(){
					var args = Array.prototype.slice.call(arguments);
					var data = null;
					var self = this;
					var header = null;
					var leftPanel = null;
					var rightPanel = null;
					var users = null;
					
					//default settings
					var settings = {
						convertJsonFields : ["id", "name", "description", "points", "index", "tasks", "deleted", "completed","assignee"]
					};
					
					if (args.length == 1 && typeof(args[0]) == "object") {
						loadData(args[0]);
						_init.call(this);
					}

					//url load
					if (typeof(args[0]) == "string") {
						$.getJSON(args[0], function (data) { 
							loadData(data);
							_init.call(this);
						});
						if(args.length == 2){
							settings = jQuery.extend(true, settings, args[1]);
						}
					}
					
					function _init() {
						dialog = $('<div id="ajaxBusy"><p><img src="@{'/public/images/loading.gif'}"></p></div>');
						// Setup the ajax indicator
						$(document).ajaxStart(function(){
				        	dialog.dialog({ modal: true, closeOnEscape: false,	open: function(event, ui) { $(".ui-dialog-titlebar-close").hide();  }});
				        }).ajaxStop(function(){
							dialog.dialog("close");
				        });
						
						initialized = true;
						
					}
					
					
					/**
					* Saves the current session
					*/
					function saveSession(){
					    $.post(settings.saveSessionUrl,{json: JSON.stringify(data, settings.convertJsonFields)})
		                .success(function(json) {
			                	(function (el) {
			                	    setTimeout(function () {
			                	        el.children().remove('span');
			                	    }, 5000);
			                	})($('#userMessages').html("<span>Session Saved successfully</span>"));
			                	data=json;
		                	}
		                )
						.error(function() { 
							$('#userMessages').html("<span><b>Error saving the current session! Please check the server log</b></span>"); 
							}
						);
					}
					
					

					
				
					
					function getDataJson(){
						var getItemText = function(element){
							var text = "";
							$(element).each(function(index, storyOrTask){
								text +=JSON.stringify(storyOrTask, settings.convertJsonFields); 
							});
							return text;
						};
						
						return getItemText(data);
					}
					
					
					function addStoryOrTask(storyOrTask, block, index, isTask, parentStory){
						if (index == 'undefined') {index = data.length;}
						if (!block) {
							block = $(self).first();
						}
						storyOrTask.index = index;
						var storyOrTaskDiv = $(storyOrTaskHtml(storyOrTask, index, isTask)).data("storyOrTask", storyOrTask);
						
						$(block).append(storyOrTaskDiv);
						storyOrTask.setDisplayPoints = function(points) {
							points = points?points:"";
							$(".points",storyOrTaskDiv).text(points);
						};
						
						storyOrTask.setDisplayName = function(name) {
							$(".storyOrTask-name",storyOrTaskDiv).html(name);
						};
						
						storyOrTask.setDisplayDescription = function(description) {
							$(".storyOrTask-description",storyOrTaskDiv).html(description);
						};
						
						storyOrTask.setDisplayAssignee = function(assignee) {
                            $(".assignee",storyOrTaskDiv).html(assignee);
                        };
                        
						storyOrTask.setDisplayPriority = function(priority) {
							$(".priority",storyOrTaskDiv).html(priority);
						};
						storyOrTask.toJson = function(){
							return JSON.stringify(storyOrTask, settings.convertJsonFields);
						}
						
						//Bind storyOrTask buttons
						$(".ui-icon-trash",storyOrTaskDiv).button().click(function(){deleteStoryOrTask(storyOrTaskDiv.data("storyOrTask"), (isTask ? parentStory.tasks : null));});
						$(".ui-icon-pencil",storyOrTaskDiv).button().click(function(){displayStoryOrTaskForm(storyOrTask, isTask);});
						if (!isTask){
							$(".ui-icon-triangle-1-e",storyOrTaskDiv).button().click(function(){showStoryTasks(storyOrTask)});
							$(".ui-icon-plusthick",storyOrTaskDiv).button().click(function(){displayStoryOrTaskForm.call(storyOrTask, null, true)});
						}else {
							$(".ui-icon-check",storyOrTaskDiv).button().click(function(){toggleStoryOrTaskCompleted(storyOrTask)});
							$(".ui-icon-user",storyOrTaskDiv).button().click(function(){showUsers(storyOrTaskDiv);});
						}
						storyOrTask.div = storyOrTaskDiv;
					}
					
					function toggleStoryOrTaskCompleted(storyOrTask, isTask){
						if(storyOrTask.completed){
							  storyOrTask.completed = false;
							  $(".taskSummary-completed", storyOrTask.div).switchClass("taskSummary-completed","taskSummary");
						}else{
							 storyOrTask.completed = true;
                             $(".taskSummary", storyOrTask.div).switchClass("taskSummary","taskSummary-completed");
						}
					}
					
					/*
					 * Shows the story tasks. It loads them the first time and then keeps the data structure local 
					 */
					function showStoryTasks(story, toggle){
						if (toggle == undefined){toggle = true;}
						if (rightPanel.data("storyId") == story.index && toggle){//just hide it
							rightPanel.toggle();
							//remove the selected story border
							if(rightPanel.is(":visible")){
								$(".ui-state-highlight:eq(" + story.index +")",leftPanel).addClass("selected");
							}else {
								$(".selected", leftPanel).removeClass("selected");
							}
						} else { //populates it
							clearRightPanel();
						
							//load tasks, the first time it is called
							if (story.tasks == undefined && story.id != undefined && settings.tasksUrl != undefined){ 
								$.ajax(settings.tasksUrl + story.id,
										{ async: false,
								          dataType: 'json',
										  success: function (data) {
											   story.tasks = data;
										  }
								});
							}
							if (story.tasks && story.tasks.length > 0){
								$(story.tasks).each(function(index, task){
										addStoryOrTask(task,rightPanel,index, true, story);
								});
							} else {
								rightPanel.append(noTasksHtml());
							}
							makeElementsSortable(rightPanel, story.tasks);
							
							//update selected highlight
							$(".selected", leftPanel).removeClass("selected");
							$(".ui-state-highlight:eq(" + story.index +")",leftPanel).addClass("selected");
						}
						updateStoryPoints(story);
						rightPanel.data("storyId",story.index);
					}
					
					/**
					* Clears the task panel and returns it
					*/
					function clearRightPanel(){
						rightPanel.html("").css("display","block");
						return rightPanel;
					}
					
					
					/**
					*
					*
					*/
					function makeElementsSortable(block, dataSet, onStart){
					        $(block).sortable({
							stop: function(event, ui) {
								var item = ui.item;
								var newIndex = $(item).parent().children().index(item);
								var storyOrTask = item.data("storyOrTask");
								var prevIndex = storyOrTask.index;
								//update storyOrTask indexes
								if (prevIndex == newIndex){return;}
								if (prevIndex > newIndex ) { //drag up
									for (i=newIndex; i < prevIndex; i++){
										dataSet[i].index++;
										currentDiv = dataSet[i].div;
										$(".priority", currentDiv).text(dataSet[i].index + 1);
									}
								}
								//prevIndex is still the moved object
								if (prevIndex < newIndex ) { //drag down
									for (i= (prevIndex + 1); i <= newIndex; i++){
										dataSet[i].index--;
										currentDiv = dataSet[i].div;
										$(".priority", currentDiv).text(dataSet[i].index + 1);
									}
								}
								storyOrTask.index = newIndex;
								sortData();
								storyOrTask.setDisplayPriority(newIndex + 1);
							},
							start: function(event, ui){
								if (onStart) { onStart();}
							}
						});
					}
					
					
					
					function editStoryOrTask(curStoryOrTask, storyOrTask){
						curStoryOrTask.name = storyOrTask.name;
						curStoryOrTask.description = storyOrTask.description;
						curStoryOrTask.points = storyOrTask.points;
						curStoryOrTask.setDisplayPoints(storyOrTask.points);
						curStoryOrTask.setDisplayDescription(storyOrTask.description);
						curStoryOrTask.setDisplayName(storyOrTask.name);
					}
					
					function addStoryAndUpdateData(story){
						index = data.length;
						data.push(story);
						return addStoryOrTask(story, leftPanel, index);
					}
					
					function addTaskToStory(story, task){
						dataStory = getStory(story);
						showStoryTasks(story, false);
						if (dataStory.tasks == undefined){
							dataStory.tasks = [];
						}
						index = dataStory.tasks.length;
						if (index == 0){
							clearRightPanel();
						}
						dataStory.tasks.push(task);
						updateStoryPoints(dataStory);
                        return addStoryOrTask(task, rightPanel, index, true, story);
					}
					
					function updateStoryPoints(story){
						points = 0;
						$(story.tasks).each(function(index, value){
							points +=parseInt(value.points);
						});
		                story.points = points;
		                story.setDisplayPoints(points);
					}
					
					//sorts the data array
					function sortData(){
						var sortFunction = function (a,b) {
							if (a.tasks) {a.tasks.sort(sortFunction);}
							return  (a.index < b.index) ? -1 : (a.index > b.index) ? 1 : 0;
						};
						data.sort(sortFunction);
					}
					
					//display the dialog. If storyOrTask is null an empty form will show.
					function displayStoryOrTaskForm(storyOrTask, isTask){
						var callingElement = this;
						var form = null;
						var formId = "#dialog-form" + storyOrTaskReturn("-story","-task", isTask);
						if ($(formId).length == 0){
							form = $(getFormHtml(isTask));
							$(document).append(form);
						}else {
							form = $(formId);
						}
						
						var name = $( "#name", form ),
						description = $( "#description", form  ),
						points = $( "#points", form ),
						allFields = $( [] ).add( name ).add( description ).add( points );
						var dialogOptions = {
							autoOpen: true,
							height: 480,
							width: 380,
							modal: true,
							resizable: true,
							buttons: {
								Save: function() {
									allFields.removeClass( "ui-state-error" );
									if (isNaN(points.val())){
										points.addClass( "ui-state-error" );
									} else if(name.val().trim() == ""){
										name.addClass("ui-state-error");
									} else {
										if(storyOrTask){//edit
											editStoryOrTask(storyOrTask, getStoryOrTaskObjectFromForm());
										} else {//add
											if (isTask){
												addTaskToStory(callingElement, getStoryOrTaskObjectFromForm());	
											}else {
											    addStoryAndUpdateData(getStoryOrTaskObjectFromForm());
											}
										}
										$( this ).dialog( "close" );
									}
								},
								Cancel: function() {
									allFields.removeClass( "ui-state-error" );
									$( this ).dialog( "close" );
								}
								
							}
						};
						
						if (storyOrTask){
							name.val(storyOrTask.name);
							description.val(storyOrTask.description);
							points.val(storyOrTask.points);
						} else {
							name.val("");
                            description.val("");
                            points.val("");
                            dialogOptions.buttons["Save and Add another"] = function(){
                            	dialogOptions.buttons.Save();
                            	$( this ).dialog( "close" );
								displayStoryOrTaskForm.call(callingElement,null, isTask);
							};
						}
								
						
						$(form).dialog(dialogOptions);
						function getStoryOrTaskObjectFromForm(){
							/* var name = $( "#name", form ),
							description = $( "#description", form  ),
							points = $( "#points", form ),
							allFields = $( [] ).add( name ).add( description ).add( points ); */
							var returnObj = {};
							if (name.val().trim() != ""){returnObj.name=name.val().trim();}
							if (description.val().trim() != ""){returnObj.description=description.val().trim();}
							if (points.val().trim() != ""){returnObj.points=points.val().trim();}
							return returnObj;
						}
					}
					
					function getFormHtml(isTask){
						return "<div id='dialog-form" + storyOrTaskReturn("-story","-task", isTask)+ "' title='" + storyOrTaskReturn("Story","Task", isTask)+ " details'> " +
							"<p class='validateTips'>All form fields are required.</p>" + 
							"<form>" + 
							"<fieldset>" + 
								"<label for='name'>Name</label>" + 
								"<input type='text' name='name' id='name' class='text ui-widget-content ui-corner-all' ></input>" + 
								"<label for='description'>Description</label>" + 
								"<textarea name='description' id='description' value='' class='text ui-widget-content ui-corner-all' rows='10' ></textarea>" + 
								"<label for='points'>Points</label>" + 
								"<input type='points' name='points' id='points' value='' class='text ui-widget-content ui-corner-all' ></input>" + 
							"</fieldset>" + 
							"</form>" + 
						"</div>";
					}
					
					function storyOrTaskReturn(storyReturn, taskReturn, isTask){
						if (!isTask){ return storyReturn; }
						else { return taskReturn; }
					}
					
					function storyOrTaskHtml(object, index, isTask){
						taskBgClass = isTask && object.completed ? "taskSummary-completed" : "taskSummary";
						return "<div class='ui-widget  storySummary'>" +
						
								"<div class='" + storyOrTaskReturn("ui-state-highlight ",taskBgClass, isTask) + " ui-corner-all' style='padding: 0 .7em; '>" + 
									"<p>" +
									"<span class='ui-icon ui-icon-info' style='float: left; margin-right: .3em;'></span>" +
									storyOrTaskReturn("<span class='ui-icon ui-icon-triangle-1-e' title='Show tasks'style='float: right; margin-left: .3em;'></span>", "", isTask) +
									"<span class='ui-icon ui-icon-trash' title='delete' style='float: right; margin-left: .3em;'></span>" + 
									"<span class='ui-icon ui-icon-pencil' title='edit'style='float: right; margin-left: .3em;'></span>" + 
									storyOrTaskReturn("<span class='ui-icon ui-icon-plusthick' title='Add task'style='float: right; margin-left: .3em;'></span>", "", isTask) +
									storyOrTaskReturn("","<span class='ui-icon-custom ui-icon-user' title='Assign Task'style='float: right; margin-left: .3em;'></span>",isTask) +
									storyOrTaskReturn("","<span class='ui-icon ui-icon-check ' title='Mark Completed'style='float: right; margin-left: .3em;'></span>",isTask) +
									"<strong class='storyOrTask-name' style='display:block'>"+ (object.name?object.name:"") +"</strong>" +
									"<div class='storyOrTask-description'>" + (object.description?object.description:"") +"</div>" +
									 "</p>" +
									 "<div class='card-info'><span class='priority'>" + (isNaN(index)? "" : (index + 1) ) + "</span>" +
									 storyOrTaskReturn("","<span class='assignee'>" + ((object.assignee) ? object.assignee : "Not Assigned") + "</span>", isTask) +
									 "<span class='points'>" + (object.points?object.points:"") + "</span>" + 
									 "<div style='clear:both;'/>" + 
									 "</div>" +
									"</div>" +
								"</div>" +
							"</div>";
					}
					
					
					function noTasksHtml(){
						html = $(storyOrTaskHtml({name:"No Tasks are available", description:"Click on 'Add Task' to add one", points:""},"",true));
						$(".ui-icon, .points, .priority, .ui-icon-custom", html).remove();
						return html;
					}
					
					return {
						addStory: addStoryAndUpdateData,
						addTaskToStory: addTaskToStory,
						getStory: getStory,
						deleteStory: deleteStoryOrTask,
						showStoryDialog: displayStoryOrTaskForm,
						editStory: editStoryOrTask,
						getData: function(){return data;},
						getSettings: function(){return settings;},
						saveSession: saveSession,
						getDataJson: getDataJson,
						getSprintId : function () {return settings.sprintId}
					}
					
				}
				
				
			})(jQuery);
			
			
			
			
			
			
			
			
			
			/*
			*
			********************************************************************************
			
				Sprints plugin
			
			********************************************************************************
			*
			*/
			(function(){
				$.fn.sprintLine = function(){
					var settings = {
						sprintsUrl:"@{Sprints.getAll}",
						tasksUrl: "@{Tasks.byStory()}?storyId=",
                        usersUrl: "@{Users.getAll()}",
                        storiesBySprintUrl: "@{Stories.bySprint()}?sprintId=",
                        storiesUnassigned: "@{Stories.unassigned()}",
                        saveSessionUrl:"@{Stories.save()}",
                        sprintSaveUrl:"@{Sprints.save()}",
                        dateFormat: "dd-mm-yy"
					}
					var self = this;
					var sprints = null;
					var currentBacklogBoard = null;
					
					
					
					
					/**
					* This class represents a sprint block
					* @info : Object with sprint info
					*/
					function SprintBlock(info, container){
						var self = this;
						this.info = info;
						this.container = container;
						this.block = null;
						
						// bind event functions
						this.init = function (){
							this.block = $(this.getSprintHtml(info))
							this.block.click(function () {onBlockClick.call(self)});
							this.block.droppable({drop:function(event, ui){onBlockDrop.call(self, event, ui)}});
						}
						
						// click class click is the same as the block click
						/*this.click = function (event, ui){
							this.block.trigger("click", event, ui);
						}*/
						
						
						
						// Event handler on drop
						function onBlockDrop(event,ui){
				            storyOrTask = $(ui.draggable).data('storyOrTask');
				            sprint = this.info;
				            block = this;
				            if (!this.isCurrentSprint()){
				            	$(getAssignToSprintConfirmationForm()).dialog({
				            		resizable: false,
				        			height:140,
				        			modal: true,
				        			autoOpen:true,
				        			buttons: {
				        				"Yes move it": function() {
				        					$.post("@{Stories.assignStory}", {
				        						json:storyOrTask.toJson(), 
				        						sprintId: (sprint!=null)? sprint.id: null
				        					})
							            	.success(function(){
							            		currentBacklogBoard = block.getCurrentSprintBoard();
							            		data = currentBacklogBoard.getData();
							            		data.splice(storyOrTask.index, 1);
							            		storyOrTask.div.remove();
							            	})
							            	.error(function(){
							            		alert("mannaggia!");
							            	});
				        					$( this ).dialog( "close" );
				        				},
				        				Cancel: function() {
				        					$( this ).dialog( "close" );
				        				}
				        			}

				            	});
				            }
				        }
						
						this.isCurrentSprint = function(){
							var sprintBoard = this.container.data("sprintBoard");
							if (sprintBoard == undefined || sprintBoard == null) { return false; } // no sprint loaded
							boardId = sprintBoard.getSprintId();
							return ((boardId == null) && (this.info == null) || 
								(this.info!= null && boardId == this.info.id));
						}
						
						this.getCurrentSprintBoard= function(){
							return  this.container.data("sprintBoard");
						}
						
						this.setCurrentSprintBoard = function(sprintBoard){
							this.container.data("sprintBoard", sprintBoard);
						}
						
						this.markSelected = function (){
							$(".sprintSummary-selected", this.container).removeClass("sprintSummary-selected");
							this.block.addClass("sprintSummary-selected");
						}
						this.init();
						
					}// ---------- End SprintBlock class --------------
					
					
					
					loadSprints();
					
					function loadSprints(){
						var sprintId = $.getUrlVar("sprintId");
						if (sprintId == undefined || sprintId == null || isNaN(sprintId)){
							sprintId = 0;
						}
						
						$.extend(Statics.settings, settings);
						Statics.settings.backlogEl = $('.backlogWrapper');

						sprintList = new SprintList;
						sprintList.url = settings.sprintsUrl;
						var sprintContainer = new SprintListView({
								collection: sprintList,
								el:  $(".sprintWrapper")
							});
						sprintList.fetch();
						
						var users = new UserList;
						users.url = settings.usersUrl;
						var team = new TeamView({
							users : users
						});
						Statics.team = team;
						
					}
					
					
					
					function isNotCurrentSprint(sprint){
						currentSprint = $(".backlogWrapper").data("sprint");
						return (currentSprint==undefined || 
						(currentSprint == null && sprint != null) ||
						(currentSprint != null && sprint == null) ||
						(currentSprint.id != sprint.id));
					}
					
					function addSprint(sprint){
						var sprintBtn = new SprintBlock(sprint, $(self)).block;
						$(self).append(sprintBtn);
						return sprintBtn;
					}
					

					
					
					function getAssignToSprintConfirmationForm(){
						dialog = "<div id='dialog-confirm' title='Move the story to another sprint?'>" +
	            		"<p><span class='ui-icon ui-icon-alert' style='float:left; margin:0 7px 20px 0;'></span>All the tasks will also be moved. Are you sure?</p>" +
	            		"</div>";
	            		return dialog;
					}
					
					function getSprintFormHtml(){
						return "<div id='dialog-form-sprint'> " +
							"<p class='validateTips'>Name is required.</p>" + 
							"<form>" + 
							"<fieldset>" + 
								"<label for='name'>Name</label>" + 
								"<input type='text' name='name' id='name' class='text ui-widget-content ui-corner-all' ></input>" + 
								"<label for='startDate'>Start Date</label>" + 
								"<input type='text' name='startDate' id='startDate' class='text ui-widget-content ui-corner-all' >" + 
								"<label for='endDate'>End Date</label>" + 
								"<input type='text' name='endDate' id='endDate' class='text ui-widget-content ui-corner-all' >" + 
							"</fieldset>" + 
							"</form>" + 
						"</div>";
					}
					
					
					/**
					* Shows the add sprint dialog
					*/
					function showAddFormDialog(){
						var form = $(getSprintFormHtml());
						var name = $( "#name", form ),
						start = $( "#startDate", form  ),
						end = $( "#endDate", form ),
						allFields = $( [] ).add( name ).add( start ).add( end );
						
						function getSprintFormObject(){
							return {
								name:name.val(),
								startDate: start.val(),
								endDate: end.val()
								};
						}
						
						$(form).dialog({
							autoOpen: true,
							height: 380,
							width: 380,
							modal: true,
							resizable: true,
							open: function(){
								var options = {dateFormat: settings.dateFormat};
								start.datepicker(options);
								end.datepicker(options);
							},
							buttons: {
								Save: function() {
									allFields.removeClass( "ui-state-error" );
									if(name.val().trim() == ""){
										name.addClass("ui-state-error");
									} else {
										$.post(settings.sprintSaveUrl, {json: JSON.stringify(getSprintFormObject())}, function(data){
											addSprint(data);
										});
										$( this ).dialog( "close" );
									}
								},
								Cancel: function() {
									allFields.removeClass( "ui-state-error" );
									$( this ).dialog( "close" );
								}
								
							}
						});
						
					}
					
					return {
						showAddFormDialog: showAddFormDialog
					}
					
					
				}
			})(jQuery);
			
			
			$(document).ready(function() {
				var sprintWrapper = $(".sprintWrapper").sprintLine();
				$("#addSprint").button().click(function(){
					sprintWrapper.showAddFormDialog();
				});
			});
		</script>
	</head>
	<body>
		
			
		<!-- Highlight / Error -->
		<div class="sprintContainer">
			<h2 >Sprints <button id="addSprint">Add Sprint</button></h2>
			<div class="sprintWrapper">
	        </div>
		</div>
		
		<div class="backlogWrapper">
		</div>
		
		
		<button style= "display: block;clear:both; margin-top:250px;" id="showDataButton">Show data</button>
		<div id="data" style="display: none;" class="formitem">
		    <label for="rules" id="ruleslabel">Data:</label>
		    <div class="textwrapper">
		    	<textarea class="data-textArea"cols="2" rows="10" id="data-textArea"></textarea>
		    </div>
		</div>
		<script>
			$('#showDataButton').button().click(function (){
				if ($("#data").is(":visible")){
	                $("#showDataButton").empty().append("Show data");
	            }else{
	            	$("#data-textArea").val($(".sprintWrapper").data("sprintBoard").getDataJson());
	            	$("#showDataButton").empty().append("Hide data");
	            }
				$('#data').toggle();
			})
		</script>


	</body>
</html>


