<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Backlog</title>
		<link type="text/css" href="@{'/public/stylesheets/main.css'}" rel="stylesheet" />
		<link type="text/css" href="@{'/public/stylesheets/ui-lightness/jquery-ui-1.8.11.custom.css'}" rel="stylesheet" />	
		<script type="text/javascript" src="@{'/public/javascripts/jquery-1.6.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/jquery-ui-1.8.11.custom.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/underscore.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/backbone.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/modelBB.js'}"></script>
		<script type="text/javascript">
		
			//function to get url variables
			$.extend({
				getUrlVars: function(){
				    var vars = [], hash;
				    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
				    for(var i = 0; i < hashes.length; i++)
				    {
				      hash = hashes[i].split('=');
				      vars.push(hash[0]);
				      vars[hash[0]] = hash[1];
				    }
				    return vars;
				  },
				  getUrlVar: function(name){
				    return $.getUrlVars()[name];
				  }
				});
			
		
			
			
			
			
			
			
			
			
			
			/*
			*
			********************************************************************************
			
				Sprints plugin
			
			********************************************************************************
			*
			*/
			(function(){
				$.fn.sprintLine = function(){
					var settings = {
						sprintsUrl:"@{Sprints.getAll}",
						tasksUrl: "@{Tasks.byStory()}?storyId=",
                        usersUrl: "@{Users.getAll()}",
                        storiesBySprintUrl: "@{Stories.bySprint()}?sprintId=",
                        storiesUnassigned: "@{Stories.unassigned()}",
                        saveSessionUrl:"@{Stories.save()}",
                        sprintSaveUrl:"@{Sprints.save()}",
                        dateFormat: "dd-mm-yy"
					}
					var self = this;
					var sprints = null;
					var currentBacklogBoard = null;
					
					
					
					
					/**
					* This class represents a sprint block
					* @info : Object with sprint info
					*/
					function SprintBlock(info, container){
						var self = this;
						this.info = info;
						this.container = container;
						this.block = null;
						
						// bind event functions
						this.init = function (){
							this.block = $(this.getSprintHtml(info))
							this.block.click(function () {onBlockClick.call(self)});
							this.block.droppable({drop:function(event, ui){onBlockDrop.call(self, event, ui)}});
						}
						
						// click class click is the same as the block click
						/*this.click = function (event, ui){
							this.block.trigger("click", event, ui);
						}*/
						
						
						
						// Event handler on drop
						function onBlockDrop(event,ui){
				            storyOrTask = $(ui.draggable).data('storyOrTask');
				            sprint = this.info;
				            block = this;
				            if (!this.isCurrentSprint()){
				            	$(getAssignToSprintConfirmationForm()).dialog({
				            		resizable: false,
				        			height:140,
				        			modal: true,
				        			autoOpen:true,
				        			buttons: {
				        				"Yes move it": function() {
				        					$.post("@{Stories.assignStory}", {
				        						json:storyOrTask.toJson(), 
				        						sprintId: (sprint!=null)? sprint.id: null
				        					})
							            	.success(function(){
							            		currentBacklogBoard = block.getCurrentSprintBoard();
							            		data = currentBacklogBoard.getData();
							            		data.splice(storyOrTask.index, 1);
							            		storyOrTask.div.remove();
							            	})
							            	.error(function(){
							            		alert("mannaggia!");
							            	});
				        					$( this ).dialog( "close" );
				        				},
				        				Cancel: function() {
				        					$( this ).dialog( "close" );
				        				}
				        			}

				            	});
				            }
				        }
						
						this.isCurrentSprint = function(){
							var sprintBoard = this.container.data("sprintBoard");
							if (sprintBoard == undefined || sprintBoard == null) { return false; } // no sprint loaded
							boardId = sprintBoard.getSprintId();
							return ((boardId == null) && (this.info == null) || 
								(this.info!= null && boardId == this.info.id));
						}
						
						this.getCurrentSprintBoard= function(){
							return  this.container.data("sprintBoard");
						}
						
						this.setCurrentSprintBoard = function(sprintBoard){
							this.container.data("sprintBoard", sprintBoard);
						}
						
						this.markSelected = function (){
							$(".sprintSummary-selected", this.container).removeClass("sprintSummary-selected");
							this.block.addClass("sprintSummary-selected");
						}
						this.init();
						
					}// ---------- End SprintBlock class --------------
					
					
					
					loadSprints();
					
					function loadSprints(){
						var sprintId = $.getUrlVar("sprintId");
						if (sprintId == undefined || sprintId == null || isNaN(sprintId)){
							sprintId = 0;
						}
						
						$.extend(Statics.settings, settings);
						Statics.settings.backlogEl = $('.backlogWrapper');

						sprintList = new SprintList;
						sprintList.url = settings.sprintsUrl;
						var sprintContainer = new SprintListView({
								collection: sprintList,
								el:  $(".sprintWrapper")
							});
						sprintList.fetch();
						
						var users = new UserList;
						users.url = settings.usersUrl;
						var team = new TeamView({
							users : users
						});
						Statics.team = team;
						
					}
					
					
					
					function isNotCurrentSprint(sprint){
						currentSprint = $(".backlogWrapper").data("sprint");
						return (currentSprint==undefined || 
						(currentSprint == null && sprint != null) ||
						(currentSprint != null && sprint == null) ||
						(currentSprint.id != sprint.id));
					}
					
					function addSprint(sprint){
						var sprintBtn = new SprintBlock(sprint, $(self)).block;
						$(self).append(sprintBtn);
						return sprintBtn;
					}
					

					
					
					function getAssignToSprintConfirmationForm(){
						dialog = "<div id='dialog-confirm' title='Move the story to another sprint?'>" +
	            		"<p><span class='ui-icon ui-icon-alert' style='float:left; margin:0 7px 20px 0;'></span>All the tasks will also be moved. Are you sure?</p>" +
	            		"</div>";
	            		return dialog;
					}
					
					function getSprintFormHtml(){
						return "<div id='dialog-form-sprint'> " +
							"<p class='validateTips'>Name is required.</p>" + 
							"<form>" + 
							"<fieldset>" + 
								"<label for='name'>Name</label>" + 
								"<input type='text' name='name' id='name' class='text ui-widget-content ui-corner-all' ></input>" + 
								"<label for='startDate'>Start Date</label>" + 
								"<input type='text' name='startDate' id='startDate' class='text ui-widget-content ui-corner-all' >" + 
								"<label for='endDate'>End Date</label>" + 
								"<input type='text' name='endDate' id='endDate' class='text ui-widget-content ui-corner-all' >" + 
							"</fieldset>" + 
							"</form>" + 
						"</div>";
					}
					
					
					/**
					* Shows the add sprint dialog
					*/
					function showAddFormDialog(){
						var form = $(getSprintFormHtml());
						var name = $( "#name", form ),
						start = $( "#startDate", form  ),
						end = $( "#endDate", form ),
						allFields = $( [] ).add( name ).add( start ).add( end );
						
						function getSprintFormObject(){
							return {
								name:name.val(),
								startDate: start.val(),
								endDate: end.val()
								};
						}
						
						$(form).dialog({
							autoOpen: true,
							height: 380,
							width: 380,
							modal: true,
							resizable: true,
							open: function(){
								var options = {dateFormat: settings.dateFormat};
								start.datepicker(options);
								end.datepicker(options);
							},
							buttons: {
								Save: function() {
									allFields.removeClass( "ui-state-error" );
									if(name.val().trim() == ""){
										name.addClass("ui-state-error");
									} else {
										$.post(settings.sprintSaveUrl, {json: JSON.stringify(getSprintFormObject())}, function(data){
											addSprint(data);
										});
										$( this ).dialog( "close" );
									}
								},
								Cancel: function() {
									allFields.removeClass( "ui-state-error" );
									$( this ).dialog( "close" );
								}
								
							}
						});
						
					}
					
					return {
						showAddFormDialog: showAddFormDialog
					}
					
					
				}
			})(jQuery);
			
			
			$(document).ready(function() {
				var sprintWrapper = $(".sprintWrapper").sprintLine();
				$("#addSprint").button().click(function(){
					sprintWrapper.showAddFormDialog();
				});
			});
		</script>
	</head>
	<body>
		
			
		<!-- Highlight / Error -->
		<div class="sprintContainer">
			<h2 >Sprints <button id="addSprint">Add Sprint</button></h2>
			<div class="sprintWrapper">
	        </div>
		</div>
		
		<div class="backlogWrapper">
		</div>
		
		
		<button style= "display: block;clear:both; margin-top:250px;" id="showDataButton">Show data</button>
		<div id="data" style="display: none;" class="formitem">
		    <label for="rules" id="ruleslabel">Data:</label>
		    <div class="textwrapper">
		    	<textarea class="data-textArea"cols="2" rows="10" id="data-textArea"></textarea>
		    </div>
		</div>
		<script>
			$('#showDataButton').button().click(function (){
				if ($("#data").is(":visible")){
	                $("#showDataButton").empty().append("Show data");
	            }else{
	            	$("#data-textArea").val($(".sprintWrapper").data("sprintBoard").getDataJson());
	            	$("#showDataButton").empty().append("Hide data");
	            }
				$('#data').toggle();
			})
		</script>


	</body>
</html>


