<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Backlog</title>
		<link type="text/css" href="@{'/public/stylesheets/ui-lightness/jquery-ui-1.8.11.custom.css'}" rel="stylesheet" />	
		<script type="text/javascript" src="@{'/public/javascripts/jquery-1.5.1.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/jquery-ui-1.8.11.custom.min.js'}"></script>
		<script type="text/javascript">
			(function () {
				
				/*
				
				Arguments: 
					backlogBoard([stories])  
							stories 	-> Array of objects [{name:string, description:string, id:integer, points:integer, tasks:[tasks]}]
							tasks		-> Array of objects [{name:string, description:string, id:integer, points:integer}]
					
					backlogBoard(url, options)
					        url: String -> The get stories url,
					        options: Object {
					        	saveSessionUrl: String -> This is required to persist the data. A json='stories' will be sent via POST
					        	tasksUrl: String -> The url to retrieve tasks. If null assumes the story url retrieved everything,
					        	usersUrl: String -> The url to retrieve users. If null shows the no user available,
					        }
					        
		        */
				$.fn.backlogBoard = function(){
					var args = Array.prototype.slice.call(arguments);
					var data = null;
					var self = this;
					var header = null;
					var leftPanel = null;
					var rightPanel = null;
					var users = null;
					
					//default settings
					var settings = {
						convertJsonFields : ["id", "name", "description", "points", "index", "tasks", "deleted", "completed","assignee"]
					};
					
					if (args.length == 1 && typeof(args[0]) == "object") {
						loadData(args[0]);
						_init.call(this);
					}

					//url load
					if (typeof(args[0]) == "string") {
						$.getJSON(args[0], function (data) { 
							loadData(data);
							_init.call(this);
						});
						if(args.length == 2){
							settings = jQuery.extend(true, settings, args[1]);
						}
					}
					
					
					function _init() {
						(function addHtmlToElement(element){
							header = $("<div class='headerButtons'>");
							header.append($("<button id='addStory'>Add Story</button>"));					
							header.append($("<button id='saveStories'>Save Session</button>"));
							header.append($("<p id='userMessages' style='display:inline; margin-left:20px;'>"));
							
							leftPanel = $("<div class='left-panel'/>");
							rightPanel = $("<div class='right-panel'/>");
							self.append(header).append(leftPanel).append(rightPanel);
							
							//addBusyLoadingElement();
							var winH = $(window).height();
							var winW = $(window).width();
							$('body').append('<div id="ajaxBusy"><p><img src="@{'/public/images/loading.gif'}"></p></div>');
							$('#ajaxBusy').css({
							  display:"none",
							  top:winH/2,
							  left:winW/2,
							  width:"auto",
							  position:"absolute" 
							});
							
							//main header buttons
							$("#addStory").button().click(function() {
								displayStoryOrTaskForm();
							});
							$("#saveStories").button().click(saveSession);
						})($(this));
						
						$(self).each (function () {
					        //styling the two blocks
						var block = $(self).children(".left-panel");
						$(block).css("width", "49.5%")
						        .css("display", "inline-block")
						        .css("vertical-align", "top")
						        .css("float", "left");;
						//$(block).css("padding", "0 5px");
						
						var leftBlock = $(self).children(".right-panel");
						$(leftBlock).css("width", "49.5%")
						        .css("display", "inline-block")
						        .css("vertical-align", "top")
						        .css("float", "right");
						//$(leftBlock).css("padding", "0 5px");
						
						$(data).each(function(index, story){
							addStoryOrTask(story,block,index);
						});
						makeElementsSortable(block, data, clearRightPanel);
						
					});
						
						// Setup the ajax indicator
						$(document).ajaxStart(function(){
				        	$('#ajaxBusy').show();
				        }).ajaxStop(function(){
							$('#ajaxBusy').hide();
				        });
						
						initialized = true;
					}
					
					
					/**
					* Saves the current session
					*/
					function saveSession(){
					    $.post(settings.saveSessionUrl,{json: JSON.stringify(data, settings.convertJsonFields)})
		                .success(function() {
			                	(function (el) {
			                	    setTimeout(function () {
			                	        el.children().remove('span');
			                	    }, 5000);
			                	})($('#userMessages').html("<span>Session Saved successfully</span>"));
		                	}
		                )
						.error(function() { 
							$('#userMessages').html("<span><b>Error saving the current session! Please check the server log</b></span>"); 
							}
						);
					}
					
					
					
					
					function loadData(prmdata){
					        data = prmdata;
					        $(data).each(function(index, story){
					                if (story.tasks && story.tasks.length > 0){
					                        var totalPoints = 0;
					                        $(story.tasks).each(function(index, task) {totalPoints +=task.points});
					                        story.points = totalPoints;
					                }
					        });
					        
					}
										
					function getStory(object){
						var getByProperty = function (name, value){
							for(var i in data){
								if (data[i][name] == value){
									return data[i];
								}
							}
						}
						if (object.id){
                            return getByProperty("id", object.id);
                        }
						if (object.index){
							return getByProperty("index", object.index);
						}
						if (object.name){
							return getByProperty("name", object.name);
						}
					}
					
					function showUsers(storyOrTaskDiv){
						if (users == null && settings.usersUrl != undefined){
							$.ajax(settings.usersUrl, //+ user.team.id?,
                                    { async:false,
							          dataType: 'json',
                                      success: function (data) {
                                           users = data;
                                      }
                            });
						}
						select = $("<select/>");
                        $(users).each(function(index, value){
                            display = value.name?value.name:value.email;
                            id = value.email;
                            select.append($("<option/>").attr("name", display ).attr("value", id).text(display));
                        });
                        $("<div/>").append(select).dialog({
                                autoOpen: true,
                                height: 150,
                                width: 250,
                                modal: true,
                                resizable: false,
                                buttons: {
                                     Assign: function(){
                                         storyOrTask = storyOrTaskDiv.data("storyOrTask");
                                         storyOrTask.assignee = select.val();
                                         storyOrTask.setDisplayAssignee(select.val());
                                         printData();
                                         $( this ).dialog( "close" );
                                     },
                                     Cancel: function() {
                                            $( this ).dialog( "close" );
                                     }
                                    }
                                }
                        );
						
					}
					
					function deleteStoryOrTask(storyOrTask, dataSet){
						if (!dataSet) {dataSet = data;}
						//if persisted mark as deleted otherwise just remove from array
						if (storyOrTask.id){
							dataSet[storyOrTask.index].deleted = true;
						}else {
							dataSet.splice(storyOrTask.index,1);
						}
						var storyDiv=storyOrTask.div;
						storyDiv.remove();
						printData();
					}
					
					function printData(){
						var getItemText = function(element){
							var text = "";
							$(element).each(function(index, storyOrTask){
								text +=JSON.stringify(storyOrTask, settings.convertJsonFields); 
							});
							return text;
						};
						
						$("textarea",$("#data")).val(getItemText(data));
					}
					
					
					function addStoryOrTask(storyOrTask, block, index, isTask, parentStory){
						if (index == 'undefined') {index = data.length;}
						if (!block) {
							block = $(self).first();
						}
						storyOrTask.index = index;
						var storyOrTaskDiv = $(storyOrTaskHtml(storyOrTask, index, isTask)).data("storyOrTask", storyOrTask);
						
						$(block).append(storyOrTaskDiv);
						storyOrTask.setDisplayPoints = function(points) {
							points = points?points:"";
							$(".points",storyOrTaskDiv).text(points);
						};
						
						storyOrTask.setDisplayName = function(name) {
							$(".storyOrTask-name",storyOrTaskDiv).html(name);
						};
						
						storyOrTask.setDisplayDescription = function(description) {
							$(".storyOrTask-description",storyOrTaskDiv).html(description);
						};
						
						storyOrTask.setDisplayAssignee = function(assignee) {
                            $(".assignee",storyOrTaskDiv).html(assignee);
                        };
                        
						storyOrTask.setDisplayPriority = function(priority) {
							$(".priority",storyOrTaskDiv).html(priority);
						};
						
						//Bind storyOrTask buttons
						$(".ui-icon-trash",storyOrTaskDiv).button().click(function(){deleteStoryOrTask(storyOrTaskDiv.data("storyOrTask"), (isTask ? parentStory.tasks : null));});
						$(".ui-icon-pencil",storyOrTaskDiv).button().click(function(){displayStoryOrTaskForm(storyOrTask, isTask);});
						if (!isTask){
							$(".ui-icon-triangle-1-e",storyOrTaskDiv).button().click(function(){showStoryTasks(storyOrTask)});
							$(".ui-icon-plusthick",storyOrTaskDiv).button().click(function(){displayStoryOrTaskForm.call(storyOrTask, null, true)});
						}else {
							$(".ui-icon-check",storyOrTaskDiv).button().click(function(){toggleStoryOrTaskCompleted(storyOrTask)});
							$(".user",storyOrTaskDiv).button().click(function(){showUsers(storyOrTaskDiv);});
						}
						storyOrTask.div = storyOrTaskDiv;
						printData();
					}
					
					function toggleStoryOrTaskCompleted(storyOrTask, isTask){
						if(storyOrTask.completed){
							  storyOrTask.completed = false;
							  $(".taskSummary-completed", storyOrTask.div).switchClass("taskSummary-completed","taskSummary");
						}else{
							 storyOrTask.completed = true;
                             $(".taskSummary", storyOrTask.div).switchClass("taskSummary","taskSummary-completed");
						}
						printData();
					}
					
					/*
					 * Shows the story tasks. It loads them the first time and then keeps the data structure local 
					 */
					function showStoryTasks(story, toggle){
						if (toggle == undefined){toggle = true;}
						if (rightPanel.data("storyId") == story.index && toggle){//just hide it
							rightPanel.toggle();
							//remove the selected story border
							if(rightPanel.is(":visible")){
								$(".ui-state-highlight:eq(" + story.index +")",leftPanel).addClass("selected");
							}else {
								$(".selected", leftPanel).removeClass("selected");
							}
						} else { //populates it
							clearRightPanel();
						
							//load tasks, the first time it is called
							if (story.tasks == undefined && story.id != undefined && settings.tasksUrl != undefined){ 
								$.ajax(settings.tasksUrl + story.id,
										{ async: false,
								          dataType: 'json',
										  success: function (data) {
											   story.tasks = data;
										  }
								});
							}
							if (story.tasks && story.tasks.length > 0){
								$(story.tasks).each(function(index, task){
										addStoryOrTask(task,rightPanel,index, true, story);
								});
							} else {
								rightPanel.append(noTasksHtml());
							}
							makeElementsSortable(rightPanel, story.tasks);
							
							//update selected highlight
							$(".selected", leftPanel).removeClass("selected");
							$(".ui-state-highlight:eq(" + story.index +")",leftPanel).addClass("selected");
						}
						updateStoryPoints(story);
						rightPanel.data("storyId",story.index);
					}
					
					/**
					* Clears the task panel and returns it
					*/
					function clearRightPanel(){
						rightPanel.html("").css("display","block");
						return rightPanel;
					}
					
					
					/**
					*
					*
					*/
					function makeElementsSortable(block, dataSet, onStart){
					        $(block).sortable({
							stop: function(event, ui) {
								var item = ui.item;
								var newIndex = $(item).parent().children().index(item);
								var storyOrTask = item.data("storyOrTask");
								var prevIndex = storyOrTask.index;
								//update storyOrTask indexes
								if (prevIndex == newIndex){return;}
								if (prevIndex > newIndex ) { //drag up
									for (i=newIndex; i < prevIndex; i++){
										dataSet[i].index++;
										currentDiv = dataSet[i].div;
										$(".priority", currentDiv).text(dataSet[i].index + 1);
									}
								}
								//prevIndex is still the moved object
								if (prevIndex < newIndex ) { //drag down
									for (i= (prevIndex + 1); i <= newIndex; i++){
										dataSet[i].index--;
										currentDiv = dataSet[i].div;
										$(".priority", currentDiv).text(dataSet[i].index + 1);
									}
								}
								storyOrTask.index = newIndex;
								sortData();
								storyOrTask.setDisplayPriority(newIndex + 1);
								printData();
							},
							start: function(event, ui){
								if (onStart) { onStart();}
							}
						});
					}
					
					
					
					function editStoryOrTask(curStoryOrTask, storyOrTask){
						curStoryOrTask.name = storyOrTask.name;
						curStoryOrTask.description = storyOrTask.description;
						curStoryOrTask.points = storyOrTask.points;
						curStoryOrTask.setDisplayPoints(storyOrTask.points);
						curStoryOrTask.setDisplayDescription(storyOrTask.description);
						curStoryOrTask.setDisplayName(storyOrTask.name);
						printData();
						
					}
					
					function addStoryAndUpdateData(story){
						index = data.length;
						data.push(story);
						return addStoryOrTask(story, leftPanel, index);
					}
					
					function addTaskToStory(story, task){
						dataStory = getStory(story);
						showStoryTasks(story, false);
						if (dataStory.tasks == undefined){
							dataStory.tasks = [];
						}
						index = dataStory.tasks.length;
						if (index == 0){
							clearRightPanel();
						}
						dataStory.tasks.push(task);
						updateStoryPoints(dataStory);
                        return addStoryOrTask(task, rightPanel, index, true, story);
					}
					
					function updateStoryPoints(story){
						points = 0;
						$(story.tasks).each(function(index, value){
							points +=parseInt(value.points);
						});
		                story.points = points;
		                story.setDisplayPoints(points);
					}
					
					//sorts the data array
					function sortData(){
						var sortFunction = function (a,b) {
							if (a.tasks) {a.tasks.sort(sortFunction);}
							return  (a.index < b.index) ? -1 : (a.index > b.index) ? 1 : 0;
						};
						data.sort(sortFunction);
					}
					
					//display the dialog. If storyOrTask is null an empty form will show.
					function displayStoryOrTaskForm(storyOrTask, isTask){
						var callingElement = this;
						var form = null;
						var formId = "#dialog-form" + storyOrTaskReturn("-story","-task", isTask);
						if ($(formId).length == 0){
							form = $(getFormHtml(isTask));
							$(document).append(form);
						}else {
							form = $(formId);
						}
						
						var name = $( "#name", form ),
						description = $( "#description", form  ),
						points = $( "#points", form ),
						allFields = $( [] ).add( name ).add( description ).add( points );
						if (storyOrTask){
							name.val(storyOrTask.name);
							description.val(storyOrTask.description);
							points.val(storyOrTask.points);
						} else {
							name.val("");
                            description.val("");
                            points.val("");
						}
						$(form).dialog({
							autoOpen: true,
							height: 480,
							width: 380,
							modal: true,
							resizable: true,
							buttons: {
								Save: function() {
									allFields.removeClass( "ui-state-error" );
									if (isNaN(points.val())){
										points.addClass( "ui-state-error" );
									} else if(name.val().trim() == ""){
										name.addClass("ui-state-error");
									} else {
										if(storyOrTask){//edit
											editStoryOrTask(storyOrTask, getStoryOrTaskObjectFromForm());
										} else {//add
											if (isTask){
												addTaskToStory(callingElement, getStoryOrTaskObjectFromForm());	
											}else {
											    addStoryAndUpdateData(getStoryOrTaskObjectFromForm());
											}
										}
										$( this ).dialog( "close" );
									}
								},
								Cancel: function() {
									allFields.removeClass( "ui-state-error" );
									$( this ).dialog( "close" );
								}
								
							}
						});
						function getStoryOrTaskObjectFromForm(){
							/* var name = $( "#name", form ),
							description = $( "#description", form  ),
							points = $( "#points", form ),
							allFields = $( [] ).add( name ).add( description ).add( points ); */
							var returnObj = {};
							if (name.val().trim() != ""){returnObj.name=name.val().trim();}
							if (description.val().trim() != ""){returnObj.description=description.val().trim();}
							if (points.val().trim() != ""){returnObj.points=points.val().trim();}
							return returnObj;
						}
					}
					
					function getFormHtml(isTask){
						/* $("div",{
							title: storyOrTaskReturn("Story","Task", isTask) + "details"
							
						}); */
						return "<div id=\"dialog-form" + storyOrTaskReturn("-story","-task", isTask)+ "\" title=\"" + storyOrTaskReturn("Story","Task", isTask)+ " details\"> " +
							"<p class=\"validateTips\">All form fields are required.</p>" + 
							"<form>" + 
							"<fieldset>" + 
								"<label for=\"name\">Name</label>" + 
								"<input type=\"text\" name=\"name\" id=\"name\" class=\"text ui-widget-content ui-corner-all\" ></input>" + 
								"<label for=\"description\">Description</label>" + 
								"<textarea name=\"description\" id=\"description\" value=\"\" class=\"text ui-widget-content ui-corner-all\" rows=\"10\" ></textarea>" + 
								"<label for=\"points\">Points</label>" + 
								"<input type=\"points\" name=\"points\" id=\"points\" value=\"\" class=\"text ui-widget-content ui-corner-all\" ></input>" + 
							"</fieldset>" + 
							"</form>" + 
						"</div>";
					}
					
					function storyOrTaskReturn(storyReturn, taskReturn, isTask){
						if (!isTask){ return storyReturn; }
						else { return taskReturn; }
					}
					
					function storyOrTaskHtml(object, index, isTask){
						taskBgClass = isTask && object.completed ? "taskSummary-completed" : "taskSummary";
						return "<div class=\"ui-widget  storySummary\">" +
						
								"<div class=\"" + storyOrTaskReturn("ui-state-highlight ",taskBgClass, isTask) + " ui-corner-all\" style=\"padding: 0 .7em; \">" + 
									"<p>" +
									"<span class=\"ui-icon ui-icon-info\" style=\"float: left; margin-right: .3em;\"></span>" +
									storyOrTaskReturn("<span class=\"ui-icon ui-icon-triangle-1-e\" title=\"Show tasks\"style=\"float: right; margin-left: .3em;\"></span>", "", isTask) +
									"<span class=\"ui-icon ui-icon-trash\" title=\"delete\" style=\"float: right; margin-left: .3em;\"></span>" + 
									"<span class=\"ui-icon ui-icon-pencil\" title=\"edit\"style=\"float: right; margin-left: .3em;\"></span>" + 
									storyOrTaskReturn("<span class=\"ui-icon ui-icon-plusthick\" title=\"Add task\"style=\"float: right; margin-left: .3em;\"></span>", "", isTask) +
									storyOrTaskReturn("","<span class=\"ui-icon-custom user\" title=\"Assign Task\"style=\"float: right; margin-left: .3em;\"></span>",isTask) +
									storyOrTaskReturn("","<span class=\"ui-icon ui-icon-check \" title=\"Mark Completed\"style=\"float: right; margin-left: .3em;\"></span>",isTask) +
									"<strong class=\"storyOrTask-name\" style=\"display:block\">"+ (object.name?object.name:"") +"</strong>" +
									"<div class=\"storyOrTask-description\">" + (object.description?object.description:"") +"</div>" +
									 "</p>" +
									 "<div class=\"card-info\"><span class=\"priority\">" + (isNaN(index)? "" : (index + 1) ) + "</span>" +
									 storyOrTaskReturn("","<span class=\"assignee\">" + ((object.assignee) ? object.assignee : "Not Assigned") + "</span>", isTask) +
									 "<span class=\"points\">" + (object.points?object.points:"") + "</span>" + 
									 "<div style=\"clear:both;\"/>" + 
									 "</div>" +
									"</div>" +
								"</div>" +
							"</div>";
					}
					
					
					function noTasksHtml(){
						html = $(storyOrTaskHtml({name:"No Tasks are available", description:"Click on \"Add Task\" to add one", points:""},"",true));
						$(".ui-icon, .points, .priority, .ui-icon-custom", html).remove();
						return html;
					}
					
					return {
						addStory: addStoryAndUpdateData,
						addTaskToStory: addTaskToStory,
						getStory: getStory,
						deleteStory: deleteStoryOrTask,
						showStoryDialog: displayStoryOrTaskForm,
						editStory: editStoryOrTask,
						getData: function(){return data;},
						getSettings: function(){return settings;}
					}
					
				}
				
				
			})(jQuery);
			
			(function(){
				$.fn.sprintLine = function(){
					var settings = {
						sprintsUrl:"@{Sprints.getAll}",
					}
					var self = this;
					
					$.getJSON(settings.sprintsUrl, function (data){
						$(data).each(function(index, value){
							var sprintBtn = $("<button>").append(value.name);
							sprintBtn.button().click(function(){
	                                $(".backlogWrapper").empty().backlogBoard("@{Stories.bySprint()}?sprintId=" + value.id, 
	                                        {
	                                         tasksUrl: "@{Tasks.byStory()}?storyId=",
	                                         usersUrl: "@{Users.getAll()}",
	                                         saveSessionUrl:"@{Stories.save()}"
	                                });
	                            }
	                        );
							$(self).append(sprintBtn);
						});
                    });
					
					
				}
			})(jQuery);
			
			
			$(document).ready(function() {
				$(".sprintWrapper").sprintLine();
					
			});
		</script>
		<style type="text/css">
			/*demo page css*/
			body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}
			.demoHeaders { margin-top: 2em; }
			#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
			#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
			ul#icons {margin: 0; padding: 0;}
			ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
			ul#icons span.ui-icon {float: left; margin: 0 4px;}
			.ui-icon{
				cursor: pointer;
			}
			
			.ui-resizable-handle { 
			      cursor:se-resize;
			}
			
			.ui-icon-custom {
			     width: 16px; 
			     height: 16px;
			     cursor: pointer;
			}
			.user {
			     background-image: url(@{'/public/stylesheets/ui-lightness/images/user.png'});
			}
			
			.storySummary {
				margin:5px 0;
				cursor:move;
			}
			
			.selected {
				border: 1px solid #FF0F0F;  
			}
			
			.unselected {
				border: 1px solid #dddddd;  
			}
			
			.taskSummary-old {
				/*background: #eeeeee url(@{'/public/stylesheets/ui-lightness/images/ui-bg-widget_00ffff_1x100.png'}) 50% top repeat-x; color: #333333;*/
				background: #008800;
			    /* Mozilla: */
			    background: -moz-linear-gradient(top, #00ffff, #FFFFFF);
			    /* Chrome, Safari:*/
			    background: -webkit-gradient(linear,
			                left top, left bottom, from(#00ffff), to(#FFFFFF));
			    /* MSIE */
			    filter: progid:DXImageTransform.Microsoft.Gradient(
			                StartColorStr='#00ffff', EndColorStr='#FFFFFF', GradientType=0);
				border: 1px solid #dddddd;  
			}
			
			.taskSummary {
			    background: #87e0fd; /* old browsers */
                background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* firefox */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* webkit */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* ie */
                border: 1px solid #87e0fd;
			}
			
			.taskSummary-completed {
			    background: #bfd255; /* old browsers */
                background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 100%); /* firefox */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(100%,#72aa00)); /* webkit */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#72aa00',GradientType=0 ); /* ie */
                border: 1px solid #b4e391;
			}
			
			.taskSummary-completed-old {
				background: #008800;
			    /* Mozilla: */
			    background: -moz-linear-gradient(top, #FFFFFF,#808000);
			    /* Chrome, Safari:*/
			    background: -webkit-gradient(linear,
			                left top, left bottom, from(#FFFFFF), to(#808000));
			    /* MSIE */
			    filter: progid:DXImageTransform.Microsoft.Gradient(
			                StartColorStr='#FFFFFF', EndColorStr='#808000', GradientType=0);
			    border: 1px solid #dddddd; 
			    /*background: #eeeeee url(@{'/public/stylesheets/ui-lightness/images/ui-bg-widget_808000_1x100.png'}) 50% top repeat-x; color: #333333;*/
			}
			
			.card-info span.priority {
				float:left;
			}
			.card-info span.points {
				float:right;
			}
			.card-info span.assignee {
			     margin-left:15px;
			}
			.data-textArea
			{
			    width:100%;
			}
			.textwrapper
			{
			    border:1px solid #999999;
			    margin:5px 0;
			    padding:3px;
			}
			label, input, textarea { display:block; }
			input.text, textarea { margin-bottom:12px; width:95%; padding: .4em; }
			fieldset { padding:0; border:0; margin-top:25px; }
			
		</style>	
	</head>
	<body>
		
			
		<!-- Highlight / Error -->
		<h2 class="demoHeaders">Backlog</h2>
		
		<div class="sprintWrapper">
        </div>
		
		<div class="backlogWrapper">
		</div>
		
		
		<button style= "display: block;clear:both; margin-top:250px;" id="showDataButton">Show data</button>
		<div id="data" style="display: none;" class="formitem">
		    <label for="rules" id="ruleslabel">Data:</label>
		    <div class="textwrapper">
		    	<textarea class="data-textArea"cols="2" rows="10" id="data-textArea"></textarea>
		    </div>
		</div>
		<script>
			$('#showDataButton').button().click(function (){
				if ($("#data").is(":visible")){
	                $("#showDataButton").empty().append("Show data");
	            }else{
	                $("#showDataButton").empty().append("Hide data");
	            }
				$('#data').toggle();
			})
		</script>


	</body>
</html>


